// K2D
@font-face {
	font-family: "K2D"; 
	src: url("../fonts/K2dregular.woff") format("woff"),
		url("../fonts/K2dregular.woff2") format("woff2");
	font-style: normal; 
	font-weight: 400; 
}

@font-face {
	font-family: "K2D"; 
	src: url("../fonts/K2dthin.woff") format("woff"),
		url("../fonts/K2dthin.woff2") format("woff2");
	font-style: normal; 
	font-weight: 100; 
}

@font-face {
	font-family: "K2D"; 
	src: url("../fonts/K2ditalic.woff") format("woff"),
		url("../fonts/K2ditalic.woff2") format("woff2");
	font-style: italic; 
	font-weight: 400; 
}

@font-face {
	font-family: "K2D"; 
	src: url("../fonts/K2dbold.woff") format("woff"),
		url("../fonts/K2Dbold.woff2") format("woff2");
	font-style: normal; 
	font-weight: 700; 
}

// Roboto

@font-face {
	font-family: "Roboto"; 
	src: url("../fonts/Roboto-Regular.woff") format("woff");
	font-style: normal; 
	font-weight: 400; 
}

@font-face {
	font-family: "Roboto"; 
	src: url("../fonts/Roboto-Regular.woff") format("woff");
	font-style: normal; 
	font-weight: 400; 
}

@font-face {
	font-family: "Roboto"; 
	src: url("../fonts/Roboto-Italic.woff") format("woff");
	font-style: italic; 
	font-weight: 400; 
}

@font-face {
	font-family: "Roboto"; 
	src: url("../fonts/Roboto-Light.woff") format("woff");
	font-style: normal; 
	font-weight: 300; 
}

@font-face {
	font-family: "Roboto"; 
	src: url("../fonts/Roboto-Bold.woff") format("woff");
	font-style: normal; 
	font-weight: 700; 
}


